{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1>Reserver</h1>

    {{ form_start(form) }}

    <tr>
        <td>{{ vol.villeDepart }}</td>
        <td>{{ vol.villeArrive }}</td>
        <td>{{ vol.dateDepart ? vol.dateDepart|date('Y-m-d') : '' }}</td>
        <td>{{ vol.prixBilletInitiale }}</td>
        <td>{{ vol.heureDepart ? vol.heureDepart|date('H:i:s') : '' }}</td>
        <td>{{ reservation.prixBillet }} €</td>
    </tr>




    <button class="btn">{{ button_label|default('Reserver') }}</button>

    {{ form_end(form) }}
{% endblock %}
