{% extends 'base.html.twig' %}

{% block title %}Tous les vols{% endblock %}

{% block body %}
    <h1>Vol index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Ville de Depart</th>
            <th>Ville d'Arrive</th>
            <th>Date de Depart</th>
            <th>Prix du Billet</th>
            <th>HeureDepart</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for vol in vols %}
            <tr>
                <td>{{ vol.villeDepart }}</td>
                <td>{{ vol.villeArrive }}</td>
                <td>{{ vol.dateDepart ? vol.dateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ vol.prixBilletInitiale }}</td>
                <td>{{ vol.heureDepart ? vol.heureDepart|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reserver', {'id': vol.id}) }}">reserver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
